/dist/
/build/
/__pycache__/
/.vscode/
/.pylint.d/
/__result_cache__/
/gtfs/
/*.egg-info
*.pyc
__pycache__
*.sqlite3
*.pyi
docs/build/
tablesalt/topology/route_shapes.geojson
environment.yml

#monkeytype
mtype*

#testing anything
/testing*
*.dot
*.png
tablesalt/scripts/__result_cache__/2019/preprocessed/zero_price.pickle
tablesalt/scripts/__result_cache__/2019/pendler/kombi_paid_zones_region_dsb_model_1.csv
tablesalt/scripts/__result_cache__/2019/pendler/kombi_paid_zones_region_hovedstad_model_1.csv
tablesalt/scripts/__result_cache__/2019/pendler/kombi_paid_zones_region_sydsjælland_model_1.csv
tablesalt/scripts/__result_cache__/2019/pendler/kombi_paid_zones_region_vestsjælland_model_1.csv
tablesalt/resources/networktopodk/gtfs/trips.txt
tablesalt/resources/networktopodk/gtfs/transfers.txt
tablesalt/resources/networktopodk/gtfs/stops.txt
tablesalt/resources/networktopodk/gtfs/stop_times.txt
tablesalt/resources/networktopodk/gtfs/shapes.txt
tablesalt/resources/networktopodk/gtfs/frequencies.txt
tablesalt/resources/networktopodk/gtfs/routes.txt
tablesalt/resources/networktopodk/gtfs/calendar_dates.txt
tablesalt/resources/networktopodk/gtfs/calendar.txt
tablesalt/resources/networktopodk/gtfs/attributions.txt
tablesalt/resources/networktopodk/gtfs/agency.txt
tablesalt/scripts/__result_cache__/2019/borderzones/bzones0.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones1.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones10.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones11.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones12.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones13.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones14.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones15.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones16.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones17.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones18.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones19.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones2.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones20.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones21.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones22.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones23.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones24.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones25.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones26.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones27.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones28.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones29.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones3.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones30.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones31.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones32.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones33.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones34.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones35.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones36.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones37.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones38.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones39.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones4.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones40.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones41.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones42.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones43.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones44.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones45.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones46.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones47.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones48.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones49.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones5.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones50.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones51.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones52.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones53.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones54.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones55.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones56.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones57.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones58.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones59.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones6.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones60.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones61.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones62.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones7.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones8.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones9.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones100.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones101.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones102.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones103.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones104.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones105.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones106.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones107.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones108.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones109.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones110.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones111.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones112.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones113.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones114.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones115.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones116.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones117.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones118.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones119.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones120.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones121.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones122.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones123.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones124.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones125.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones126.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones127.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones128.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones129.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones130.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones131.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones132.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones133.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones134.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones135.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones136.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones137.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones138.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones139.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones140.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones141.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones142.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones143.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones144.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones145.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones146.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones147.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones148.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones149.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones150.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones151.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones152.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones153.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones154.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones155.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones156.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones157.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones158.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones159.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones160.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones161.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones162.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones163.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones164.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones165.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones166.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones167.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones168.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones169.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones170.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones171.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones172.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones173.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones174.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones175.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones176.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones177.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones178.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones179.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones180.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones181.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones182.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones183.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones184.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones185.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones186.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones187.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones188.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones189.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones190.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones191.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones192.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones193.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones194.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones195.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones196.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones197.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones198.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones199.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones200.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones63.pickle
tablesalt/scripts/__result_cache__/2019/borderzones/bzones64.pickle
