/dist/
/build/
/__pycache__/
/.vscode/
/.pylint.d/
/__result_cache__/
/gtfs/
/*.egg-info
*.pyc
__pycache__
*.sqlite3
*.pyi
docs/build/
tablesalt/topology/route_shapes.geojson
tablesalt/scripts/__result_cache__/
tablesalt/resources/networktopodk/gtfs/
environment.yml

#monkeytype
mtype*

#testing anything
/testing*

#pyreverse 
*.dot
*.png

