*.pyc
__pycache__
/*.egg-info
*.sqlite3
*.pyi

.pylint.d/
/dist/
/build/
/__pycache__/

gtfs/
tablesalt/resources/networktopodk/gtfs/

tablesalt/.vscode/settings.json
.vscode/
tablesalt/scripts/.pylint.d/
tablesalt/topology/route_shapes.geojson
environment.yml
tablesalt/resources/gtfs/
tablesalt/scripts/__result_cache__/
docs/
#monkeytype
mtype*
